/* CSS Mini HTML5 Reset */



html, body, div, form, fieldset, legend, label
{
	margin: 0;
	padding: 0;	
}
/* taken from HTML5 Reset http://html5doctor.com/html-5-reset-stylesheet/ */
article,aside,canvas,details,figcaption,figure,
footer,header,hgroup,menu,nav,section,summary { 
	display:block;
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}

th, td
{
	text-align: left;
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6, th, td, caption { font-weight:normal; }

img { border: 0; }
